.indexWrap {
    background: $pink;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.indexContainer {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 

    @include mobile {
        flex-direction: column;
        align-items: stretch;
    }
}


.title {
    h1 {
        text-align: center;
        margin-bottom: 18.14px;
    }

    a {
        display: inline-block;
        // 置中，只適用於行內元素。達到兩個<a>標籤置中效果。
        vertical-align: middle;

        &:first-of-type {
            width: 40px;
            height: 40px;
            @include linkImg;
            background-image: url("/img/checkBox.svg");
            background-size: contain;
        }

        &:last-of-type {
            font-family: $fontEN;
            font-size: 32px;
            margin-left: 1.6px;
        }
    }

    img {
        width: 100%;
    }

    @include mobile {
        img {
            display: none;
        }
    }
}

section.login {
    margin-left: 8.2%;
    max-width: 304px;
    flex: 1 0 auto;
    h2 {
        font-size: 24px;
        margin-bottom: 24px;
    }

    label {
        margin-bottom: 4px;
        //label文字_暱稱、再次輸入密碼(登入頁隱藏)
        &:nth-of-type(2n){
            display: none;
        }
    }

    input {
        width: 100%;
        margin-bottom: 40px;
        // index為登入頁，密碼下推取消
        &:nth-of-type(3) {
            margin-bottom: 0;
        }
        //input_暱稱、再次輸入密碼(登入頁隱藏)
        &:nth-of-type(2n){
            display: none;
        }
    }
    // 密碼提示、再次輸入密碼字數提示(隱藏)
    p{
        // margin-bottom: 16px;
        color: #D87355;
        height: 20px;
        &:nth-of-type(2n){
            display: none;
        }
    }

    button {
        margin: 24px auto 14px;
    }

    a {
        text-align: center;
        font-size: 16px;
        padding: 10px;
        width: fit-content;
        margin: 0 auto;
        // 加上 border-bottom: 1px solid transparent; 消除active產生的跳動
        border-bottom: 1px solid transparent; 
        &:active{
            border-bottom: 1px solid $black;
        }
    }

    @include mobile {
        max-width: 100%;
        margin-left: 0;
        h2 {
            text-align: center;
            font-size: 20px;
            margin-bottom: 32px;
        }
        button {
            margin: 27px auto 10px;
        }
    }
}
section.register{
    //label文字_暱稱、再次輸入密碼(註冊頁顯示)
    label{
        &:nth-of-type(2n){
            display: block;
        }
    }
    input{
        margin-bottom: 16px;
        //input_密碼、再次輸入密碼下推取消
        &:nth-of-type(3), &:nth-of-type(4){
            margin-bottom: 0;
        }
        //input_暱稱、再次輸入密碼(註冊頁顯示)
        &:nth-of-type(2n){
            display: block;
        }
    }
    // 密碼提示、再次輸入密碼字數提示(顯示)
    p{
        margin-bottom: 0;
        height: 16px;
        &:nth-of-type(2n){
            display: block;
        }
    }
    @include mobile{
        h2{
            font-size: 24px;
        }
    }
}