.mainWrap {
    background-image: linear-gradient(174deg, $pink 53%, #FFFFFF 53%);
}

.mainContainer {
    margin: 0 auto;
    max-width: 1024px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 27px 19px 34px;

    a {
        display: inline-block;
        // 置中，只適用於行內元素。達到兩個<a>標籤置中效果。
        vertical-align: middle;

        &:first-of-type {
            width: 33px;
            height: 33px;
            @include linkImg;
            background-image: url("../img/checkBox.svg");
            background-size: contain;
        }

        &:last-of-type {
            font-family: $fontEN;
            font-size: 24px;
            margin-left: 3px;
        }
    }

    h2 {
        display: inline-block;
        font-size: 16px;
        margin-right: 19px;
    }

    button {
        display: inline-block;
        background: transparent;
        color: $black;
        padding: 5px;
        height: 100%;
        font-weight: 900;
        border-radius: 0;
    }

    @include mobile {
        padding-left: 32px;

        h2 {
            display: none;
        }
    }
}

main {
    padding: 0 32px;
}

.inputArea {
    display: flex;
    align-items: center;
    max-width: 500px;
    border-radius: 10px;
    background: white;
    padding: 4px;
    margin: 0 auto 16px;
    height: 47px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

    input {
        //calc可針對於寬做數值的運算，(運算的數值"不需"為相同單位)。
        width: calc(100% - 40px);

        &:focus-visible {
            outline: 0;
        }
    }

    button {
        height: 40px;
        width: 40px;
        padding: 10px;
        background-image: url("../img/plus.png");
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.listArea {
    display: none;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

    .tab {
        display: flex;
        background: white;
        border-radius: 10px 10px 0 0;

        li {
            width: calc(100% / 3);
            padding: 15px 0;
            color: $grey;
            text-align: center;
            border-bottom: 2px solid #efefef;
            cursor: pointer;

            &:hover,
            &.active {
                color: $black;
                border-bottom: 2px solid $black;
            }
        }
    }
}

.emptyArea {
    display: none;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;

    p {
        font-size: 16px;
        font-weight: 400;
        margin: 33px 0 16px;
    }
}

.listContent {
    background: white;
    border-radius: 0 0 10px 10px;

    .list {
        padding: 24px 48px 0 24px;

        li {
            position: relative;
            border-bottom: 1px solid #e5e5e5;
        }

        @include mobile {
            padding: 24px 16px 0;
        }
    }

    input[type="checkbox"] {
        display: inline-block;
        position: absolute;
        left: 0;
        width: 20px;
        height: 100%;
        margin: 0;
        opacity: 0;
        // 可讓滑鼠穿牆，不再被上層元素給遮住! 直接點選到下層的元素
        pointer-events: none;

        // 當核取方塊被點選時『★使用相鄰兄弟選擇器，選取<input>之後相鄰的"第一個"兄弟<label>』
        &:checked {
            +label {               
                &::before {
                    content: url("../img/checkYellow.png");
                    border: 1px solid transparent;
                    //偽元素_核取方塊和偽元素_勾勾會"一起往上推"(針對Y軸平移)
                    transform: translateY(-80%);
                }
                span{
                   // text-decoration文字裝飾 刪除線
                    text-decoration: line-through $grey;
                    color: $grey;
                }
            }
        }
    }

    label {
        font-weight: 400;
        line-height: 52px;
        cursor: pointer;

        &::before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 16px;
            border: 1px solid $grey;
            border-radius: 5px;
            //vertical-align可針對行內元素做Y軸對齊，使該元素與父元素font的底部對齊。
            vertical-align: text-bottom;
            cursor: pointer;
        }
        // todo編輯 輸入框
        .input_ok {
            display: inline-block;
            border: none;
            outline: 1px solid #0C7D74;
            color: #FF4858;
            border-radius: 10px;
            padding: 10px 10px;
            height: 47px;
            font-family: "Noto Sans TC", sans-serif;
            font-weight: 700;
            width: calc(100% - 20px);
            @include mobile {
                right: 40px;
            }

        }
        // todo編輯>送出按紐
        .update_ok {
            background: #FFAE00;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 48px;
            height: 40px;
            padding: 0 7px;
            cursor: pointer;
            font-weight: 500;
            @include mobile {
                right: 40px;
            }
        }
        span{
            width: calc(100% - 150px);
            display: inline-block;
            line-height: 24px;
            vertical-align: middle;
            // 文字自動換行，長英文字不切斷
            word-wrap: break-word;
        }

    }

}

.list {
    // todo編輯按鈕
    .update {
        background: orangered;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 48px;
        height: 40px;
        padding: 0 7px;
        cursor: pointer;
        opacity: 0.2;
        &:hover {
            opacity: 1;
        }
        @include mobile {
            right: 40px;
        }
    }
    //todo編輯鈕 原先顯示切換成"隱藏"
    .button_none{
        display: none; 
    }

    .delete {
        background: url("../img/cross.png");
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 50%;
        right: -35px;
        transform: translateY(-50%);
        width: 14px;
        height: 100%;
        padding: 0 20px;
        cursor: pointer;
        opacity: 0.2;

        &:hover {
            opacity: 1;
        }

        @include mobile {
            right: 0px;
        }
    }

}

.listFooter {
    display: flex;
    padding: 25px 48px 32px 24px;
    justify-content: space-between;
    align-items: center;

    h3 {
        font-weight: 400;
    }

    button {
        background: transparent;
        color: $grey;
        padding: 5px;
        height: 100%;
        font-size: 14px;
        font-weight: 400;
        border-radius: 0;
    }

    @include mobile {
        padding: 25px 16px 24px;
    }

}

.show {
    display: block;
}